.App {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 390px;
  height: 100dvh;
  margin: 0 auto;
}

.contentsBox {
  position: relative;
  width: 100%;
  height: calc(100% - var(--gnb-H));
  padding-top: env(safe-area-inset-top);
  padding-top: constant(safe-area-inset-top);
}

.userPositionBtn {
  position: absolute;
  right: var(--spacer-5); bottom: var(--spacer-5);
  width: 58px; height: 58px;
  border-radius: 50%;
  background-color: #222;

  z-index: 20;
  
  /* 아이콘 속성 */
  color: var(--gray-0);
  font-size: 36px;
}

.gnb {
  display: flex;
  width: 100%;
  height: var(--gnb-H);
  padding-bottom: env(safe-area-inset-bottom);
  padding-bottom: constant(safe-area-inset-bottom);
  background-color: #fff;

  z-index: 20;
}

.gnb > a {
  flex: 1;
  text-align: center;
  line-height: var(--gnb-H);
}

.gnbLink {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: var(--spacer-5);
  color: #222;
  text-decoration: none;
}

.Home {
  width: 100%;
  height: 100%;
}

.SearchEntry {
  display: block;
  height: var(--top-btn);
}