:root {
    --spacer-1: 2px;
    --spacer-2: 4px;
    --spacer-3: 8px;
    --spacer-4: 12px;
    --spacer-5: 16px;
    --spacer-6: 20px;
    --spacer-7: 24px;
    --spacer-8: 32px;
    --spacer-9: 40px;
    --spacer-10: 48px;
    
    --z-index-base: 10;
    --z-index-con: 20;
    --z-index-gnb: 30;
    --z-index-popup-background: 60;
    --z-index-popup: 70;
    --z-index-top: 100;
    
    /* 크기 */
    --size-btn-small: 30px;
    --size-btn-medium: 44px;
    --size-btn-large: 50px;
    --size-btn-xlarge: 57px;
    
    --gnb-H: 64px;

    --top-btn: 48px;

    /* 색상 */
    --gray-0: #ffffff;
    --gray-5: #f8f8f8;
    --gray-10: #f0f0f0;
    --gray-20: #e4e4e4;
    --gray-30: #d8d8d8;
    --gray-40: #c6c6c6;
    --gray-50: #8e8e8e;
    --gray-60: #717171;
    --gray-70: #555555;
    --gray-80: #2d2d2d;
    --gray-90: #1d1d1d;
    --gray-100: #000000;

    --shadow-popup: 0 -4px 6px rgba(0, 0, 0, .08);
  }