.SearchPage {
    width: 100%;
}

.flexBox {
    display: flex;
    border: 1px solid var(--gray-30);
}

.searchList {
    margin-top: calc(var(--size-btn-medium) + var(--spacer-5));
}

.searchList > li {
    position: relative;
    padding: var(--spacer-3) var(--spacer-9);
    border-bottom: 1px solid var(--gray-30);
}

.searchList > li > span {
    position: absolute;
    top: 50%; left: var(--spacer-3);
    transform: translateY(-50%);
    content: '';

}

.searchList > li > strong {
    display: block;
}

.searchList > li > address {
    color: var(--gray-70);
}

.userPositionBtn {
  position: absolute;
  right: var(--spacer-5); bottom: var(--spacer-5);
  width: 58px; height: 58px;
  border-radius: 50%;
  background-color: #222;

  z-index: var(--z-index-map-overlay);
  
  /* 아이콘 속성 */
  color: var(--gray-0);
  font-size: 36px;
}