h2 {
    margin: 24px 0;
    font-size: 20px;
    text-align: center;
}

.listInsertBtn {
    display: block;
    width: 100%;
    height: var(--size-btn-medium);
    border-radius: 100px;
    background-color: rgb(155, 206, 255);
}

.MyListsItem {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    padding: var(--spacer-5) 0;
    border-bottom: 1px solid #ccc;
}

.MyListsItem > a {
    display: flex;
    flex: 1;
    column-gap: 10px;
}

.listIcon {
    display: block;
    width: 30px; height: 30px;
    border-radius: 50%;
    /* background-color: darkgoldenrod; */
}

.listName {
    display: block;
}

.listEditBtn {
    display: block;
    width: 40px;
}

/* PlacesList */
.PlacesListPopup {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    min-height: 500px;
    border-radius: 30px 30px 0 0;
    background-color: var(--gray-0);
    box-shadow: var(--shadow-popup);

    z-index: 10;
}

.PlaceListItem {
    border-bottom: 1px solid var(--gray-10);
}