h2 {
    margin: 24px 0;
    font-size: 20px;
    text-align: center;
}

.MyListsItem {
    position: relative;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    padding: var(--spacer-5) 0;
    border-bottom: 1px solid #ccc;
}

.MyListsItem > a {
    display: flex;
    flex: 1;
    column-gap: 10px;
}

.listIcon {
    display: block;
    width: 30px; height: 30px;
    border-radius: 50%;
    /* background-color: darkgoldenrod; */
}

.listName {
    display: block;
}

.listEditBtn {
    display: block;
    width: 40px;
}

/* === PlacesList === */
.PlacesListPopup {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    min-height: 500px;
    border-radius: 30px 30px 0 0;
    background-color: var(--gray-0);
    box-shadow: var(--shadow-popup);

    z-index: var(--z-index-map-overlay);
}

.PlaceListItem {
    border-bottom: 1px solid var(--gray-10);
}

.PlacesListTopBtnBox {
    position: absolute;
    left: var(--spacer-5); top: var(--spacer-5);
    width: calc(100% - var(--spacer-5) * 2);
    height: var(--size-btn-medium);
    background-color: var(--gray-0);
    border-radius: var(--radius-square);
    box-shadow: var(--shadow-btn-top);
  
    z-index: var(--z-index-map-overlay);
}

.PlacesListTopBtnIcon {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: var(--size-btn-medium);
}

.PlacesListTopBtnTxt {
    height: 100%;
    margin-left: calc(var(--size-btn-medium));
    line-height: var(--size-btn-medium);
}

.popupActions {
    display: flex;
    justify-content: space-between;
    margin-top: var(--spacer-6);
}

.popupActions > button {
    width: calc(50% - var(--spacer-2));
}

.listNameInput {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid var(--gray-50);
    border-radius: 5px;
    font-size: var(--font-size-title-lg);
    font-weight: 600;
}

.colorPickerTitle {
    margin-top: var(--spacer-5);
    font-size: var(--font-size-title-sm);
}

.MyListsColorPicker {
    display: flex;
    justify-content: space-between;
    margin-top: var(--spacer-4)
}

.colorBtn {
    width: var(--size-btn-small);
    height: var(--size-btn-small);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

.colorBtn.selected {
    scale: 1.4;
    border: 6px solid rgba(255, 255, 255, 0.6);
}

.reviews {
    font-size: var(--font-size-title-xsm);
    color: var(--gray-70);
}