
.SearchPage {
    width: 100%;
    height: 100%;
    
    z-index: 20;
}

.searchForm {
    display: flex;
    justify-content: space-between;
    width: calc(100% - var(--spacer-3) * 2);
    height: 48px;
    margin: var(--spacer-3);
}

.search {
    width: 100%;
}